@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Medium_1.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Bold_1.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}