.switch-space {
    position: relative;

    background-color: #6457f4;
    padding: 12px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;

    font-weight: 700;
    max-width: fit-content;
}