.panel-control__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid;

  &-btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
  }
}