@use './reset.css' as *;
@import '../assets/fonts/Roboto/styles.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#root {
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

.scene-container {
    width: 100vw;     
    height: 100vh;     
    overflow: hidden; 
    position: relative;
}

