.panel-control {
    position: fixed;
    top: 50px;
    right: 50px;

    display: flex;
    gap: 20px;

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__left {

    }
}